---
layout: default
title: Agenda
---
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
	<div class="ui container center aligned">
		<a class="ui huge primary button" href="https://responsibledata.ai/events/trust">
			<b style="font-size: 1.5em"> Trust in Pandemic Tech </b>
		</a>
	</div>
    <div class="ui container center aligned agenda">
        <h1> EN Verification Server and Covid19 Testing Sites</h1>
	<h1> 15th October <a href="https://mit.zoom.us/webinar/register/WN_BVJlUjN4SiOl8hq-iE2qdQ" class="ui red circular huge label">Registration Link </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda1015 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> ENX Deployment with UC San Diego and Google </h1>
	<h1> 8th October <a href="https://mit.zoom.us/webinar/register/WN_g4B3zQUxSMqcqfi8z8g_8w" class="ui red circular huge label">Registration Link </a></h1>
	<h1> Event Summary <a href="assets/pdf/report_8Oct.pdf" class="ui red circular huge label">Report</a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda1008 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> MIT roundtable on EN Express App and Campus Pilots </h1>
	<h1> 1st October <a href="https://mit.zoom.us/webinar/register/WN_J08Ok9ptTeGhOKowBX8I-Q" class="ui red circular huge label">Registration Link </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda1001 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> MIT roundtable on Innovation Roadmap beyond Google/Apple Exposure Notification </h1>
	<h1> 24th September <a href="https://mit.zoom.us/webinar/register/WN_XKgmjyZSQEO5GcHG-8NGkA" class="ui red circular huge label">Registration Link </a></h1>
	<h1> Event Summary <a href="assets/pdf/report_24sept.pdf" class="ui red circular huge label">Report</a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0924 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> EN Express and Reports from US state teams  </h1>
	<h1> 17th September <a href="https://mit.zoom.us/webinar/register/WN_OCnr9ivYQ9eISczvCNgMPQ" class="ui red circular huge label">Registration Link </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0917 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> MIT roundtable on G/A Exposure Notification 'EN Express' App  </h1>
	<h1> 10th September <a href="https://mit.zoom.us/webinar/register/WN_UZS0ylraTnKQSS7V_nUxCQ" class="ui red circular huge label">Registration Link </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0910 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.register %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                    <a href="{{section.register}}" class="ui red circular label">Register</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> EN Express vs Full GAEN App: Benefits and Challenges</h1>
	<h1> 3rd September <a href="https://www.media.mit.edu/videos/safe-paths-09-03-2020/" class="ui red circular huge label">Live Stream </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0902 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.link %}
                                    <a href="{{section.link}}" style="text-decoration: underline;"><b>{{section.title}} </b> {{section.comment}} </a>
                                    <a href="{{section.link}}" class="ui red circular label">Live Stream</a>
                                    <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" class="ui blue circular label">Live Q&amp;A Instruction</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> GAEN based Contact Tracing and Challenges</h1>
	<h1> 20th August <a href="https://www.media.mit.edu/videos/gaen-2020-08-20/?autoplay=true" class="ui red circular huge label">Live Stream </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0820 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.link %}
                                    <a href="{{section.link}}" style="text-decoration: underline;"><b>{{section.title}} </b> {{section.comment}} </a>
                                    <a href="{{section.link}}" class="ui red circular label">Live Stream</a>
                                    <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" class="ui blue circular label">Live Q&amp;A Instruction</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> GAEN based Contact Tracing and Challenges</h1>
	<h1> 13th August <a href="https://youtu.be/14vivxGejpE" class="ui red circular huge label">Live Stream </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0729 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.link %}
                                    <a href="{{section.link}}" style="text-decoration: underline;"><b>{{section.title}} </b> {{section.comment}} </a>
                                    <a href="{{section.link}}" class="ui red circular label">Live Stream</a>
                                    <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" class="ui blue circular label">Live Q&amp;A Instruction</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> Trust in Pandemic Tech: Smartphone Apps for Participatory Response</h1>
	<h1> 6th August <a href="https://www.media.mit.edu/events/trust-in-pandemic-tech-smartphone-apps-for-participatory-response/" class="ui red circular huge label">Live Stream </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0728 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.link %}
                                    <a href="{{section.link}}" style="text-decoration: underline;"><b>{{section.title}} </b> {{section.comment}} </a>
                                    <a href="{{section.link}}" class="ui red circular label">Live Stream</a>
                                    <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" class="ui blue circular label">Live Q&amp;A Instruction</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
<section class="ui segment center aligned" style="background-color: rgb(0, 204, 102, 1);">
    <div class="ui container center aligned agenda">
        <h1> Trust in Pandemic Tech: Smartphone Apps for Participatory Response</h1>
	<h1> 29th July <a href="https://www.media.mit.edu/events/trust-in-pandemic-tech-smartphone-apps-for-participatory-response/" class="ui red circular huge label">Live Stream </a></h1>
    </div>
    <div class="ui container left aligned agenda">
        <table class="ui striped large table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                {% for event in site.data.agenda0730 %}
                    <tr style="line-height: 2.4em;">
                        <td>{{event.time}} EDT </td>
                        <td>
                            {% for section in event.sections %}
                            <div 
                            {% unless forloop.index == 1 %}
                                style="padding-left: 2em;"
                            {% endunless %}
                            >
                                {% if section.link %}
                                    <a href="{{section.link}}" style="text-decoration: underline;"><b>{{section.title}} </b> {{section.comment}} </a>
                                    <a href="{{section.link}}" class="ui red circular label">Live Stream</a>
                                    <a href="https://twitter.com/dataeconomyai/status/1287968908670984192?s=20" class="ui blue circular label">Live Q&amp;A Instruction</a>
                                {% else %}
                                    <b>{{section.title}} </b> {{section.comment}}
                                {% endif %}
                                {% for speaker in section.speakers %}
                                    {% assign name = speaker.name %}
                                    {% assign aff = speaker.aff %}
                                    {% if speaker.avatar %}
                                        {% assign avatar = speaker.avatar %}
                                    {% else %}
                                        {% assign avatar = "unknown.jpg" %}
                                    {% endif %}
                                    {% for find_speaker in site.data.speakers_trust %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% for find_speaker in site.data.speakers_pandemic %}
                                        {% if find_speaker.name == name %}
                                            {% assign aff = find_speaker.title%}
                                            {% assign avatar = find_speaker.avatar%}
                                        {% endif %}
                                    {% endfor %}
                                    {% unless forloop.index == 1 and section.inline %}
                                    <br> 
                                    {% endunless %}
                                    &bull; 
                                    {% if speaker.link %}
                                        <a href="{{speaker.link}}">{{speaker.content}}</a>
                                    {% else %}
                                        {{speaker.content}}
                                    {% endif %}
                                    <a class="ui image label small">
                                        <img class="ui circular image" src="assets/img/speakers/{{avatar}}" style="border-radius: 500rem;">
                                        {{name}}
                                        <div class="detail" title="{{aff}}">{{aff | truncate: site.agenda_aff_length }}</div>
                                    </a>
                                    {{speaker.comment}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</section>
