---
layout: default
title: Pandemic
---

<div class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 204, 202, 0.8), rgba(0, 204, 202, 0.8)), url('/assets/img/bg1.jpg');">
    
    <div class="ui container center aligned">
        <h1 class="ui header" style="margin-bottom: 0em;">
            Trust in Pandemic Tech: Tracing, Testing and Vaccines
        </h1>
        <h3 class="ui header" style="margin-bottom: 0em;">
		August, September and October<br>
            <a href="/events/agenda-0806" class="ui tag large label" style="color: rgba(0, 204, 202, 1);">Agenda</a> 
        </h3>
        <br>
        <!--<a class="ui massive white button" style="color: rgba(0, 204, 202, 1); margin-bottom: 2em;" href="/joinus">
            Join Us / Free Registration
        </a>
	<br>-->
        <!--<div class="ui header" style="font-size: 0.6em; background: rgba(0, 204, 202, 0.7); color: rgba(255, 255, 255, 1); padding-top: 1em; padding-bottom: 0.6em; margin-left: 12em;  margin-right: 12em;">
            <h3 style="font-size: 3em;"> Congressman Bill Foster Opening MIT Conference on Trusted Pandemic Tech
            <h3> 
	    </h3>
	</div>-->
        <div class="ui divider"></div>
        <div class="four green ui buttons">
            <a class="ui medium button" style="margin: 0em;" href="https://docs.google.com/forms/d/e/1FAIpQLSc51GNcM_tYxd-fBQ2YPTK5zClCGA2fju3Wu7O1oJn_a96xeg/viewform">Register</a>
            <a class="ui medium button" style="margin: 0em;" href="/events/agenda-0806">Agenda</a>
            <a class="ui medium button" style="margin: 0em;" href="/events/agenda-0806">Agenda for MIT Conference on Vaccines For All</a>
        </div>
        <br>
    </div>
</div>

<section id="about" class="ui segment center aligned">
    <div class="ui container left aligned">
        <div class="ui grid">
            <div class="twelve wide column">      
                <h1 style="text-align: center;">
                    Trusted Pandemic Tech
                </h1>
                <p>
		The mission of the MIT Program for Trusted Pandemic Technologies is to help public health professionals rapidly overcome challenging barriers they encounter as they engage citizens as active participants in digital solutions for fighting COVID-19 and future pandemics.
                </p>
                <p>
		The initial focus of the program will be to work with state public health officials as they design and deploy exposure notification and digital contact tracing for COVID-19. Subsequent initiatives under consideration include surveillance/monitoring and predictive modeling so that we as a society are much better prepared for future pandemics. 
                </p>
		<p>
		The founding belief of the program is that when it comes to engaging citizens in a quest for the common good, especially public health, trust at all levels and among all participants is mandatory for success.
		</p>
		<p>
		The biggest challenges in designing digital solutions which engage citizens are human and societal as well as technologic. The program therefore functions as a tight collaboration among experts from a variety of disciplines. These include information science, public health, biotechnology, behavioral economics and public policy.
		</p>
		<p>
		To accomplish its mission the program will function as a totally open and neutral venue that partners with government, academia and industry to advance basic knowledge as well as accelerate the practical and application of that knowledge to solutions that save lives and reduce human suffering.
		</p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<iframe width="600" height="315" src="https://www.youtube.com/embed/iLk9_SdJpco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="speakers" class="masthead ui segment center aligned"
    style="background-image: linear-gradient(rgba(0, 204, 202, 0.7), rgba(0, 204, 202, 0.7)), url('/assets/img/bg1.jpg');">
    <div class="ui container center aligned">
        <h1 class="ui header">
            Speakers
        </h1>
    </div>
    <br>
    <div class="speakers ui container center aligned">
        <div class="ui three column grid">
            {% for speaker in site.data.speakers_trust %}
            <div class="column">
                <div class="ui container center aligned">
                    <img class="ui medium centered circular image" src="assets/img/speakers/{{speaker.avatar}}">
                </div>
                <h2> {{ speaker.name }} </h2>
                <h4> {{ speaker.title | newline_to_br  }} </h4>
            </div>
            {% endfor %}
            <div class="column middle aligned">
                <h1> And More! </h1>
            </div>
        </div>
    </div>
</section>

<section class="ui segment center aligned">
    <div class="ui container left aligned" style="padding-top: 2em; padding-bottom: 2em;">
        {% include newsletter_signup.html %}
    </div>
</section>

{% include committee_sec.html %}

<section class="ui container center aligned" style="padding: 6em;">
    <div class="ui two column grid">
        <div class="column">
            <img class="ui centered image medium" src="/assets/img/berkeley.png">
        </div>
        <div class="column">
            <img class="ui centered image medium" src="/assets/img/mit.jpg">
        </div>
    </div>
</section>
